*{ 
    margin: 0; 
    padding: 0;
    background-color: black; 
    color: white;
    font-size: 30px;
}
a{
    color: yellow;
    text-decoration: none;
    font-size: 100px;
    
}
input{
    padding: 0.33%;
}
button{
    margin-top: 2.2%;
    margin-left: 46%;
    margin-bottom: 2.2%;
    padding: 10px;
    font-size: 20px;
}
#Encrypt{
    padding: 5px;
    margin-top: 4%;
    margin-left: 10%;
    border: 5px solid yellow;
    width: 80%;
}
#Decrypt{
    padding: 5px;
    margin-top: 10%;
    margin-left: 10%;
    margin-bottom: 5%;
    border: 5px solid yellow;
    width: 80%;
}
.inputwrap label {
    display: inline-block;
    width: 100px;
    text-align: right;
}
#print{
    font-size: 25px;
    font-weight: bolder;
}
#title{
    padding: 2px;
    text-align: center;
    width:100%;
    background-color: black;
}
#instruction{
    margin-top: 15px;
    margin-left: 5px;
    font-size: 20px;
}
#highlight{
    background-color: black;
    color: yellow;
    padding: 5px;
}
